{% load staticfiles %}
<!DOCTYPE html>
<html ng-app="sportsStore">
<head>
    <meta charset="UTF-8">
    <title>Sports Store</title>
    {% block stylesheets %}
        <link href="{% static 'dajs/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'dajs/bootstrap/css/bootstrap-theme.css' %}" rel="stylesheet">
    {% endblock stylesheets %}
</head>
<body>

<div ng-controller="sportsStoreController">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">SPORTS STORE</a>
    </div>
    <div class="alert alert-danger" ng-show="data.error">
        {% verbatim %}
        Error ({{ data.error.status }}).
        {% endverbatim %}
        <a href="{% url 'sports_store:home' %}" class="alert-link">Click here to try again</a>
    </div>

    {% include "sports_store/productList.html" %}

</div>

{% block javascripts %}
    <script src="{% static 'dajs/js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'dajs/bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'dajs/js/angular.js' %}"></script>
    <script>
        angular.module("sportsStore", ["customFilters"]);
    </script>
    <script src="{% static 'sports_store/angularjs/controllers/sportsStore.js' %}"></script>
    <script src="{% static 'sports_store/angularjs/controllers/productListControllers.js' %}"></script>
    <script src="{% static 'sports_store/angularjs/filters/customFilters.js' %}"></script>
{% endblock javascripts %}
</body>
</html>